$primary-font-color: #000;
$secondary-font-color: #fff;
$paragraph-font-color: #222222;
$primary-color: #381ddb;
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$footer-bg-color: #22222208;
